{% load humanize %}

    <!DOCTYPE HTML>
			{% block html-def %}
			<html lang="en">
			{% endblock html-def %}
	
					<head>

							<!-- JQuery Mobile CDN Hosted CSS link--> 
							<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css"/>
							
							<script>
								$( document ).on( "pageinit", "#main", function() {
										$( document ).on( "swiperight", "#main", function( e ) {
												if ( $.mobile.activePage.jqmData( "panel" ) !== "open" ) {
														if ( e.type === "swiperight" )
																$( "#leftpanel" ).panel( "open" );
												}
										});
								});
							</script>
							
					</head>

					<body>
						
							<div data-role="page" id="main">

									<div data-role="panel" id="leftpanel">
											<ul data-role="listview" data-inset="true">
												{% if user.is_authenticated %}
														<li data-role="list-divider">Navigation</li>
														<li><a href="{% url 'home' %}" data-ajax="false">Home</a></li>
														<li><a href="{% url 'search' %}" data-ajax="false">Search</a></li>
														<li><a href="{% url 'service' %} " data-ajax="false">Service</a></li>


														<li data-role="list-divider"></li>
														<li data-icon="delete"><a href="{% url 'logout' %}" data-ajax="false">Logout</a></li>
												{% endif %}
											</ul>
									</div><!-- Panel -->
	
									<div data-role="header" data-backbtn="true">
									{% block header %}
											<a href="#leftpanel" data-role="button" data-icon="gear">Menu</a>
											
											<h1>EXPRESS</h1>
												{% if user.is_authenticated %}
												<a href="#" data-role="button">
												Hello, {{ user.username }}
												</a>
												{%endif%}

									{%endblock%}
									
									</div> <!-- Header -->
									
									<div data-role="content">
        										{% block body %}
        										

            									{% endblock body %}
					                </div>
					                {% block extra-scripts %}

					                {% endblock %}
                                </div>
                    </body>
					<!--JQuery Mobile CDN Hosted script files--> 
					<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> 
					<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
			

            </html>
