{% extends 'base.html' %}
{% load humanize %}



{% block body %}

<h2><center> Upcoming Expirations <center></h2>

<div data-role="content">

	<table data-role='table' id="upcoming" data-mode="columntoggle" class="ui-responsive table-stroke ui-table ui-table-columntoggle table-stripe ui-body-d">
		<thead>
				<tr>
                        <th>Client</th>
						<th>Exp</th>
                        <th>Type</th>
                        <th>ID</th>


				</tr>
		</thead>
		
		<tbody>
                {% for prod in products %}
			    <!-- In your views.py you only have 'upcoming' and 'everything' -->
				<tr>
						<!-- This variable did not match the one above -->
						<td id="flip"><a href="/client_product_list/?clientid={{prod.client.company_name}}">{{prod.client}}</a></td>
                        <td>{{prod.expiration_date}}</td>
                        <td>{{prod.product_type}}</td>
                        <td>{{prod.product_id}}</td>
				</tr>

				{% empty %}

				<tr>
						<td>No</td>
                        <td>Upcoming</td>
                        <td>Expirations</td>
                        <td></td>
				</tr>
				{% endfor %}

			    <!-- Where did the Product variable come from -->


		</tbody>
		
		<tfoot>
		
		</tfoot>
		
	</table>
</div>
		
{% endblock body %}

{% block extra-scripts %}

        <script>
            $(document).ready(function() {
                $('a').click(function() {
                    $("#flipbox").flip({
                	direction:'tb'
                    });
                });
            });
        </script>


{% endblock extra-scripts %}