{% extends 'base.html' %}
{% load humanize %}



{% block body %}

<h2><center> Upcoming Expirations <center></h2>

<div data-role="content">

	<table data-role='table' id="upcoming" data-mode="columntoggle" class="ui-responsive table-stroke ui-table ui-table-columntoggle table-stripe ui-body-d">
		<thead>
				<tr>

						<th>Expiration Date</th>
                        <th>Client</th>
                        <th>Product ID</th>

				</tr>
		</thead>
		
		<tbody>
                {% for prod in products %}
			    <!-- In your views.py you only have 'upcoming' and 'everything' -->
				<tr>
						<!-- This variable did not match the one above -->
						<td>{{prod.expiration_date}}</td>
                        <td>{{prod.client}}</td>
                        <td>{{prod.product_id}}</td>
				</tr>

				{% empty %}

				<tr>
						<td>No Upcoming Expirations!</td>
				</tr>
				{% endfor %}

			    <!-- Where did the Product variable come from -->


		</tbody>
		
		<tfoot>
		
		</tfoot>
		
	</table>
</div>
		
{% endblock body %}
