{% extends 'base.html' %}
{% load humanize %}


{% block body %}

<h2><center>Report<center></h2>

<table data-role='table' id="report" data-mode="columntoggle" class="ui-responsive table-stroke ui-table ui-table-columntoggle table-stripe ui-body-d">
        <thead>
                <tr>
                        <th>Client</th>
                        <th>Date</th>

                        <th>Product</th>
                        <th>Location</th>
                </tr>
        </thead><!-- table header -->
        
        <tbody>
                {% for rep in reports %}

                <tr>
                        <td>{{rep.client}}</td>
                        <td>{{rep.expiration_date}}</td>

                        <td>{{rep.product_id}}</td>
                        <td>{{rep.location}}</td>
                </tr>
            {% endfor %}
        </tbody><!-- table body -->
        
        <tfoot>
        
        </tfoot>
        
</table>

        <!--&lt;!&ndash; "Serviced" Button &ndash;&gt;-->
        <!--<a href="#" data-role="button" name="New Search" data-mini="true">Serviced</a>-->
        <!---->
        
{% endblock body %}