{% extends 'base.html' %}
{% load humanize %}


{% block body %}
		<h2><center>Service<center></h2>
		
		<div>
				<label for="servicetype">Service Type</label>
				<select name="servicetype" id="servicetype" data-native-menu="false" data-mini="true" data-iconpos="left">
						<option value="#" selected="true">Maintenance</option>
						<option value="#">Installation</option>
				</select>
		</div>
		<div>
    			<label for="client">Client</label>

    			<select name="client" id="client" multiple="multiple" data-native-menu="false" data-iconpos="left" data-mini="true">
                        <option value="#">All</option>
                        {% for cli in clients %}
        				<option value="#">{{cli.company_name}}</option>
                         {% endfor %}
    			</select>

    	</div>
    	<div>
				<label for="location">Location</label>
				
				<select name="location" id="location" data-native-menu="false" data-iconpos="left" data-mini="true">
						{% for loc in locations %}
                        <option value="#">{{loc.location}}</option>
						{% endfor %}
				</select>
		</div>
    	<div>
    			<label for="product">Product</label>
    			
   				<select name="product" id="product" multiple="multiple" data-native-menu="false" data-iconpos="left" data-mini="true">
        				<option value="#">All</option>
                        {% for prod in products %}
        				<option value="#">{{prod.product_type}}</option>
                        {% endfor %}
    			</select>
    	<div>
    			<label for="type">Type</label>
    			
    			<select name="type" id="type" multiple="multiple" data-native-menu="false" data-iconpos="left" data-mini="true" disabled="disabled">
				        <option>All</option>
				        <option value="#">All</option>
    			</select>
		</div>
		
		<!-- "Save" Button -->
		<a href="#" data-role="button" name="save">Save</a>

		
		
{% endblock body %}